.drawer {
    min-width: 250px;

}
.title {
    font-size: 14;
}
.root {
    max-width: 35%;
    min-height: 300px;
    z-index: 10;
    top:100px;
    position: absolute;
  }
  .list-root {
    width: 100%;
    max-width: 360;
    font-size: 10;
    position: relative;
    overflow: 'auto';
    max-height: 300;
  }
  .ul-el {
    padding: 0  !important;
  }
  .li-element {
    padding: 0;
  }